$navbar-default-bg: 						#009688;
$navbar-border-radius: 						0px;
$navbar-default-link-color:                	#fff !default;
$navbar-default-link-hover-color:          	#eee !default;

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
	font-family: 'Montserrat', sans-serif;
}

.main-btn {
    margin-top: 1.8em;
}

.article-title h3 {
    margin: 10px 0;
}

.article-meta {
    margin: 5px 0;
    background: #eee;
    padding: 10px;
}